/*----- Polls style -----*/
#pollresult .axis path ,
#pollresult .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#pollresult text {
  font: 10px sans-serif;
}

.d3GraphControls
{
    display: inline-block;
    margin: 20px 0px 0px 20px;
}