@font-face { font-family: RobotoCondensed-Regular; src: url('../font/RobotoCondensed-Regular.ttf'); }
@font-face { font-family: Roboto-Regular; src: url('../font/Roboto-Regular.ttf'); }

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body {
    font: 16px/26px Arial, Helvetica, Helvetica Neue;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

fieldset {
    border: 0;
}

.browserupgrade {
    background: #ccc;
    color: #000;
}